[submodule ".vim/bundle/phpcomplete.vim"]
	path = .vim/bundle/phpcomplete.vim
	url = git://github.com/shawncplus/phpcomplete.vim.git
[submodule ".vim/bundle/easymotion.git"]
	path = .vim/bundle/easymotion.git
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/gitv.git"]
	path = .vim/bundle/gitv.git
	url = https://github.com/gregsexton/gitv.git
[submodule ".vim/bundle/fugitive.vim"]
	path = .vim/bundle/fugitive.vim
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/NERDtree.git"]
	path = .vim/bundle/NERDtree.git
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/skittles_berry.git"]
	path = .vim/bundle/skittles_berry.git
	url = git://github.com/shawncplus/skittles_berry.git
[submodule ".vim/bundle/vim-twig"]
	path = .vim/bundle/vim-twig
	url = https://github.com/evidens/vim-twig
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/vim-indent-guides"]
	path = .vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".vim/bundle/vdebug"]
	path = .vim/bundle/vdebug
	url = https://github.com/joonty/vdebug.git
[submodule ".vim/bundle/vim-jade"]
	path = .vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
